@media screen and (min-width:400px) {

  /***********************
    HEADER mobile
    ************************/
 #logo h2 {
    padding: 0 0 10px 0;
  }



    /***********************
    2 COL LAYOUT
    ************************/

  #primary{
    width:35%;
    float:left;
  }

  #primary li{
    line-height:150%;
    padding: 0 0 20px 0;
  }

  #secondary{
    width:55%;
    float:right;
  }

  #secondary p{
    padding: 0 0 20px 0;
  }



    /***********************
    PAGE: PORTFOLIO
    ************************/
  /***********************
    3 *  5 = 15%
  100 - 15 = 85%
  85 / 3 = 28.3333
    ************************/

  #gallery li{
    width:28.3333%;
  }

  #gallery li:nth-child(4n){
  clear:left;
  }

  /***********************
    PAGE: ABOUT
    ************************/

  .profile-photo {
    float:left;
    margin:0 5% 60px 0;
    clear:left;
  }

   #tertiary, #surveyor  {
    float:left;
    clear:left;
  }


}


@media screen and (max-width:815px) {
  #primary, #secondary, #tertiary, #surveyor, section {
    width:80%;
    padding: 20px;
    float:none;
    margin:auto;
  }
  p, li {
    font-size:1.1em;
  }

  .profile-photo{
    margin:20px 0 30px ;
  }

section h2 {
/*  text-align:center;
*/  font-size:1.5em;
}

}

@media screen and (min-width:660px) {

    /***********************
    HEADEER full screen
    ************************/

  nav{
    background:none;
    float:right;
    margin-right: 5%;
    text-align:right;
    width:55%;
  }
  nav ul{
  padding:40px 0 0;
}

nav a {
      font-size:0.98em;

}

  #logo {
    float:left;
    margin-left:5%;
    text-align:left;
    width:35%;
  }

  h1{
    font-size:3.5em;
    letter-spacing:-5px;
  }

   header h2{
    font-size:0.95em;
    margin-bottom:30px;
  }

  h3{
  float: left;
  width: 100%;
  text-align: left;
  margin-left:5%;

}

  header{
    border-bottom:5px solid #47433A;
    margin-bottom:60px;
  }


}



















