@media screen and (min-width:400px) and (max-width:660px){
  .carousel-inner {
    position: relative;
    top:-30px;
    left:-30px;
    width: 118%;
  }

  #primary-img {
    display:none;
  }

}




@media screen and (min-width:400px) {

  /***********************
    HEADER mobile
    ************************/
 #logo h2 {
    padding: 0 0 10px 0;
  }



    /***********************
    2 COL LAYOUT
    ************************/

  #primary, #primary-img{
    width:35%;
    float:left;
  }

  #primary li, #primary-img li{
    line-height:150%;
    padding: 0 0 20px 0;
  }

  #secondary{
    width:55%;
    float:right;
  }

  #secondary p{
    padding: 0 0 20px 0;
  }



    /***********************
    PAGE: PORTFOLIO
    ************************/
  /***********************
    3 *  5 = 15%
  100 - 15 = 85%
  85 / 3 = 28.3333
    ************************/

  #gallery li{
    width:28.3333%;
  }

  #gallery li:nth-child(4n){
  clear:left;
  }

  /***********************
    PAGE: ABOUT
    ************************/

  .profile-photo {
    float:left;
    margin:0 5% 60px 0;
    clear:left;
  }

   #tertiary, #surveyor  {
    float:left;
    clear:left;
  }


}


@media screen and (max-width:815px) {
  #primary, #secondary, #tertiary, #surveyor, #primary-img, section {
    width:80%;
    padding: 20px;
    float:none;
    margin:auto;
  }
  p, li {
    font-size:1.1em;
  }

  .profile-photo{
    margin:20px 0 30px ;
  }

section h2 {
/*  text-align:center;
*/  font-size:1.5em;
}

.contact-info li.mail a {
  width:110px;
}

}

@media screen and (min-width:660px) {

    /***********************
    HEADEER full screen
    ************************/

  nav{
    background:none;
    float:right;
    margin-right: 5%;
    text-align:right;
    width:55%;
  }
  nav ul{
  padding:40px 0 0;
}

nav a {
      font-size:0.98em;
}



  #logo {
    float:left;
    margin-left:5%;
    text-align:left;
    width:35%;
  }

  h1{
    font-size:4em;
    letter-spacing:-5px;
  }

   header h2{
    font-size:1.2em;
    margin-bottom:30px;
  }

  h3{
  float: left;
  width: 100%;
  text-align: left;
  margin-left:5%;

}

  header{
    border-bottom:5px solid #47433A;
    margin-bottom:60px;
  }

/************************************
Drop down menu
*************************************/

nav ul li ul {
  z-index:1;
  padding: 0;
  position: absolute;
  top: 100px;
  right: 15%;
  width: 110px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

nav ul li ul li {
  display: block;
}

nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  }

}













